*,
*::after,
*::before {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

h3 {
  line-height: 1.3;
}

ul {
  list-style: none;
}

input, select {
  padding: 0 5px;
  border-radius: 10px;
  background-color: var(--surface-1);
}

input {
  padding: 0 10px;
}

dialog {
  inset: 0 0 0 0;
  margin: auto;
  padding: 0;
  height: fit-content;
  width: clamp(1px, 98vw, 500px);
}

body {
  position: relative;
}

.select {
  height: 23px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.row #country,
.row #city {
  width: 100%;
}

.normal-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(5px, 1fr) minmax(1px, 500px) minmax(5px, 1fr);
  grid-template-rows: 5px auto 1fr 5px;
  grid-template-areas: ". . ." ". h ." ". m ." ". . .";
}

.main-container,
.header-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-2);
}

.header-container {
  grid-area: h;
  gap: 5px;
}
.header-container h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}
.header-container h2 {
  font-size: 1.5rem;
}

[data-popup][open] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head,
.body,
.foot {
  display: flex;
  gap: 5px;
}

.head,
.body {
  flex-direction: column;
}

.head,
.foot {
  border-radius: 10px;
  background-color: var(--surface-3);
}

.head {
  padding: 0 5px 5px;
  align-items: center;
  text-align: center;
  word-break: break-all;
}

[data-display-message] {
  display: none;
  width: 100%;
  height: 40px;
}
[data-display-message].active {
  display: block;
}

.body > * {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.foot {
  flex-direction: column;
  padding: 5px;
  min-height: 40px;
}

.main-container {
  background-color: var(--surface-1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: m;
}
.main-container > h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

[data-search-result] {
  height: 60px;
}
[data-search-result] > * {
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
[data-search-result] > * * {
  line-height: 1;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--surface-3);
  width: 100%;
  border-radius: 10px;
}
.main-nav > ul {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.main-nav li {
  width: 100%;
}

.main-content {
  height: 100%;
  display: grid;
  grid: 1fr/auto-flow 100%;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
  touch-action: pan-x;
  scroll-behavior: smooth;
}

.weather-message {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 5px 1rem;
  border-radius: 10px;
}
.weather-message.moring {
  background: linear-gradient();
}
.weather-message.day {
  background: linear-gradient(139.39deg, #187EDC 0%, #10A9FF 36.18%, #14BAEF 72.92%, #2D9AFF 100%);
}
.weather-message.night {
  background: linear-gradient(139.39deg, #0F1C2C 0%, #0F1C2C 36.18%, #0F1C2C 72.92%, #0F1C2C 100%);
}

.icon-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-1);
  border-radius: 50%;
  text-decoration: none;
  transition: all var(--transition-1) ease-out;
}
.icon-rounded.button {
  color: var(--text-1);
  background: var(--surface-3);
}
.icon-rounded.button path {
  fill: var(--text-1);
  stroke: var(--text-1);
}
.icon-rounded.button:hover, .icon-rounded.button:focus {
  color: var(--text-2);
  background: var(--surface-4);
}
.icon-rounded.button:hover path, .icon-rounded.button:focus path {
  fill: var(--text-2);
  stroke: var(--text-2);
}
.icon-rounded.small {
  width: 30px;
  height: 30px;
}
.icon-rounded.medium {
  width: 40px;
  height: 40px;
}
.icon-rounded.large {
  width: 50px;
  height: 50px;
}

.hover {
  position: relative;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-1);
  background: none;
  transition: all var(--transition-1) ease-out;
}
.hover path {
  stroke: var(--text-1);
}
.hover.solid path {
  fill: var(--text-2);
}
.hover.rounded {
  border-radius: 10px;
}
.hover.pill {
  border-radius: 100vh;
}
.hover.darkest {
  background-color: var(--surface-1);
}
.hover.dark {
  background: var(--surface-2);
}
.hover.light {
  background: var(--surface-3);
}
.hover.gap {
  gap: 5px;
}
.hover.wide {
  padding: 0;
  text-align: center;
  width: 100%;
}
.hover:hover, .hover:focus {
  color: var(--text-1);
  background-color: var(--surface-4);
}
.hover:hover path, .hover:focus path {
  fill: var(--text-2);
  stroke: var(--text-2);
}
.hover.active {
  color: var(--accent-color);
  background: none;
}
.hover.active path {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}
.hover.active::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  margin-bottom: -0.25rem;
  width: 100%;
  height: 2px;
  border-radius: 2px 2px 0 0;
  background-color: var(--accent-color);
}

@media (min-width: 768px) {
  .foot {
    flex-direction: row;
  }
  .foot > button {
    width: 100%;
    height: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
