*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  line-height: 1.3;
}

ul {
  list-style: none;
}

input, select {
  background-color: var(--surface-1);
}

body {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(5px, 1fr) minmax(1px, 500px) minmax(5px, 1fr);
  grid-template-rows: 5px auto 1fr 5px;
  grid-template-areas: ". . ." ". h ." ". m ." ". . .";
}
body > header {
  grid-area: h;
}
body > header form {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
body > header form div {
  height: 40px;
  display: flex;
  gap: 5px;
}
body > header > h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
body > main {
  grid-area: m;
  padding: 10px;
}
body > main > h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
body > header,
body > main {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-2);
}

[data-dialog=choose-location] {
  margin: auto;
  padding: 0;
  width: clamp(1px, 98vw, 500px);
}
[data-dialog=choose-location] header {
  padding: 0.5rem;
  background-color: var(--surface-3);
}
[data-dialog=choose-location] main {
  height: 300px;
  overflow-y: scroll;
  padding: 0 1rem;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  background-color: var(--surface-2);
}
[data-dialog=choose-location] label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
[data-dialog=choose-location] footer {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  background-color: var(--surface-3);
}
[data-dialog=choose-location] button {
  height: 40px;
}

.icon-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-1);
  border-radius: 50%;
  text-decoration: none;
  transition: all var(--transition-1) ease-out;
}
.icon-rounded.button {
  color: var(--text-1);
  background: var(--surface-3);
}
.icon-rounded.button path {
  fill: var(--text-1);
  stroke: var(--text-1);
}
.icon-rounded.button:hover, .icon-rounded.button:focus {
  color: var(--text-2);
  background: var(--surface-4);
}
.icon-rounded.button:hover path, .icon-rounded.button:focus path {
  fill: var(--text-2);
  stroke: var(--text-2);
}
.icon-rounded.small {
  width: 30px;
  height: 30px;
}
.icon-rounded.medium {
  width: 40px;
  height: 40px;
}
.icon-rounded.large {
  width: 50px;
  height: 50px;
}

.hover {
  position: relative;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-1);
  background: none;
  transition: all var(--transition-1) ease-out;
}
.hover path {
  stroke: var(--text-1);
}
.hover.solid path {
  fill: var(--text-2);
}
.hover.rounded {
  border-radius: 10px;
}
.hover.pill {
  border-radius: 100vh;
}
.hover.background {
  background: var(--surface-1);
}
.hover.gap {
  gap: 5px;
}
.hover:hover, .hover:focus {
  color: var(--text-1);
  background-color: var(--surface-4);
}
.hover:hover path, .hover:focus path {
  fill: var(--text-2);
  stroke: var(--text-2);
}
.hover.active {
  color: var(--accent-color);
  background: none;
}
.hover.active path {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}
.hover.active::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  margin-bottom: -0.25rem;
  width: 100%;
  height: 2px;
  border-radius: 2px 2px 0 0;
  background-color: var(--accent-color);
}

/*# sourceMappingURL=style.css.map */
