*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-container {
  margin: 0 auto;
  padding: 1rem 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-item {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: var(--surface-2);
  transform: scale(1);
  transition: transform 200ms ease-out, box-shadow 200ms linear;
}
.weather-item:hover, .weather-item:focus {
  z-index: 1;
  transform: scale(1.05);
  background-color: var(--surface-3);
}
.weather-item .weather-content {
  display: none;
}
.weather-item.active .weather-content {
  display: block;
}

.bottom-left {
  position: absolute;
  inset: auto 1rem 1rem auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.bottom-left > * {
  height: 40px;
  width: 40px;
}
.bottom-left.active {
  z-index: 2;
  transform: rotate(45deg);
}

[data-info-location] {
  display: none;
}

[data-info-location].active {
  position: fixed;
  inset: 0 0 0 0;
  display: block;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3647058824);
}

[data-info-nav] {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
  background-color: var(--surface-2);
}
[data-info-nav] > * {
  height: 2.6rem;
}

[data-info-add-button] {
  background-color: #357ccd;
  aspect-ratio: 3/2;
  border-radius: 5px;
  color: var(--text-2);
}
[data-info-add-button]:hover, [data-info-add-button]:focus {
  background-color: #3e8de7;
  color: var(--text-1);
}

[data-info-remove-button] {
  background-color: #cd3535;
  aspect-ratio: 2/1;
  border-radius: 5px;
  color: var(--text-2);
}
[data-info-remove-button]:hover, [data-info-remove-button]:focus {
  background-color: #e73e3e;
  color: var(--text-1);
}

[data-add-location-input] {
  background: var(--surface-3);
  padding: 0 0.4rem;
  outline: none;
}
[data-add-location-input]:focus, [data-add-location-input]:hover {
  outline: 1px solid var(--surface-4);
}

[data-add-location-button] {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 50%;
}
[data-add-location-button]:focus, [data-add-location-button]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
[data-add-location-button]:focus path, [data-add-location-button]:hover path {
  fill: var(--text-1);
}

.info-container {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 800px;
  display: grid;
  gap: 0.5em;
}

[data-info-current],
[data-info-hourly],
[data-info-Daily] {
  padding: 2rem 0.5rem;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--surface-2);
}
[data-info-current] > div,
[data-info-hourly] > div,
[data-info-Daily] > div {
  margin-top: auto;
  width: 100%;
}
[data-info-current] > div div,
[data-info-hourly] > div div,
[data-info-Daily] > div div {
  margin: 0.2rem 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .weather-container {
    width: 100%;
  }
}
@media (min-width: 336px) {
  .weather-container {
    width: 320px;
  }

  .weather-item, .weather-info {
    aspect-ratio: 3/2;
    width: 320px;
  }

  .info-container {
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  .weather-container {
    padding: 1rem 0;
    width: 680px;
  }

  .info-container {
    grid-template-columns: 1fr 1fr;
  }

  [data-info-current] {
    grid-column: 1/3;
  }
}
@media (min-width: 1064px) {
  .weather-container {
    width: 1064px;
  }
}

/*# sourceMappingURL=style.css.map */
